<!DOCTYPE html>
<html>
<head>
  <title>Aitfc</title>
  <%= stylesheet_link_tag "homepage" %>
  <%= javascript_include_tag "homepage" %>
  <%= csrf_meta_tags %>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target=".nav">

<header class="page-header" id="topheader">
  <div class="navbar-static">
    <div class="navbar-inner">
      <ul class="inline">
		<li class="logo-image">
         <%= image_tag "homepage-logo-test.png" %>
        </li>
        <li>
        <li class="logo-name">Allee Bubba</li>
        <li class="login">
          <input class="span2" type="text" placeholder="username">
          <button type="submit" class="btn btn-success">Sign in</button>
        </li>
        </li>
      </ul>
   </div>
  </div>
</header>

<div id="carousel" class="carousel slide carousel-fade">
<div class="carousel-inner">
    <div class="active item">
    </div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
</div>

<!-- page content nav bar -->
<header id="page-content-nav">
<div class="pagebar" id="page-nav">
 <nav>
  <ul class="nav lead inline">
    <li><a href="#whoweare">Market</a></li>
    <li><a href="#whatwedo">Events</a></li>
    <li><a href="#joinus">About Us</a></li>
    <li><a href="#latestnews">Partners</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
 </nav>
</div>
</header>

<div class="section-a" id="#market">
</div>

<div class="section-b" id="#events">
</div>
    
<div class="section-a" id="#aboutus">
</div>
    
<div class="section-b" id="#partners">
</div>
    
<div class="section-a" id="#contact">
</div>

</body>
